<!DOCTYPE html>

{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>KEONICS - Django</title>
  <style type="text/css">
    body {
      color: #aa082e;
      background-color: #b6bde7;
      font-family: 'Roboto', sans-serif;
    }

    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
       background: -webkit-linear-gradient(left, #343a40, #607d8b);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #4caf50;
      color: #fff;
    }
  </style>

</head>


<body>
  {% include "school/navbar.html" %}
  <br>
  <br>
  <br>
  <br>





  <form method="post">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Apply For Teacher Job </p>
        </div>

        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
              <p style="text-align: left; margin-left:10px;">First Name</p>
              <div class="form-group">
                {% render_field form1.first_name class="form-control" placeholder="Name" %}
              </div>
              <p style="text-align: left; margin-left:10px;">User Name</p>
              <div class="form-group">
                {% render_field form1.username class="form-control" placeholder="Username" %}
              </div>
              <p style="text-align: left; margin-left:10px;">Password</p>
              <div class="form-group">
                {% render_field form1.password class="form-control" type="password" placeholder="Password" %}
              </div>
              <p style="text-align: left; margin-left:10px;">Email</p>
              <div class="form-group">
                {% render_field form2.email class="form-control" type="password" placeholder="Email" %}
              </div>
             
              <p style="text-align: left; margin-left:10px;">Mobile Number</p>
              <div class="form-group">
                {% render_field form2.mobile class="form-control" placeholder="Mobile Number" %}
              </div>
              <p style="text-align: left; margin-left:10px;">Gender</p>
                <div class="form-group">
                {% render_field form2.g_choices class="form-control" placeholder="Gender" %}
                </div>
                <p style="text-align: left; margin-left:10px;">Present Address</p>
                <div class="form-group">
                {% render_field form2.present_address class="form-control" placeholder="Present Address" %}
              </div>
              <p style="text-align: left; margin-left:10px;">Permanent Address</p>
              <div class="form-group">
              {% render_field form2.permanent_address class="form-control" placeholder="Permanent Address" %}
            </div>
         
            </div>
            <div class="col-md-6">
            
            <p style="text-align: left; margin-left:10px;">Passport Photo</p>
            <div class="form-group">
            {% render_field form2.photo class="form-control" placeholder="Passport Photo" %}
          </div>
          <p style="text-align: left; margin-left:10px;">state</p>
          <div class="form-group">
          {% render_field form2.state class="form-control" placeholder="State" %}
        </div>
        <p style="text-align: left; margin-left:10px;">District</p>
        <div class="form-group">
        {% render_field form2.district class="form-control" placeholder="District" %}
        </div>
        <p style="text-align: left; margin-left:10px;">Pin Code</p>
        <div class="form-group">
        {% render_field form2.pin_code class="form-control" placeholder="Pin_code" %}
      </div>
      <p style="text-align: left; margin-left:10px;">Aadhar Number</p>
      <div class="form-group">
      {% render_field form2.aadhar class="form-control" placeholder="Aadhar" %}
    </div>
    <p style="text-align: left; margin-left:10px;">Degree Certificate</p>
    <div class="form-group">
    {% render_field form2.degree class="form-control" placeholder="Degree" %}
  </div>
    <p style="text-align: left; margin-left:10px;">Resume</p>
     <div class="form-group">
     {% render_field form2.resume class="form-control" placeholder="Resume" %}
      </div>       
      <p style="text-align: left; margin-left:10px;">Course</p>
      <div class="form-group">
      {% render_field form2.course class="form-control" placeholder="Course" %}
       </div>
            </div>
              

            </div>
          </div>
          <button type="submit" class="btnSubmit">Apply</button>
          <div class="text-center">Already have an account? <a href="teacherlogin">Login here</a></div>
        </div>
      </div>
    </div>
    <br>

  </form>







  {% include "school/footer.html" %}
</body>

</html>
